Repository devgod611/swapkit, changes with the labels that .github/labeler.yml gives for each.
All labels: maintenance, core, docs, keystore, ledger, cosmos, evm, utxo, trezor, types, tw, wc, web-ext, release

Feat/coinbase mobile (#92)
  .changeset/witty-mugs-drive.md
  apps/vite-playground/package.json
  apps/vite-playground/src/WalletPicker.tsx
  apps/vite-playground/src/swapKitClient.ts
  apps/vite-playground/vite.config.ts
  packages/walletconnect/package.json
  packages/walletconnect/src/helpers.ts
  packages/walletconnect/src/walletconnect.ts
  packages/web-extensions/src/evmWallet/index.ts
  yarn.lock
Labels: docs, wc, web-ext

:tada: Publish pre-release (development) (#93)
  .changeset/pre.json
  apps/expo-playground/CHANGELOG.md
  packages/walletconnect/CHANGELOG.md
  packages/walletconnect/package.json
  packages/web-extensions/CHANGELOG.md
  packages/web-extensions/package.json
Labels: release

Add error codes and stack (#94)
  .changeset/dirty-pets-study.md
  packages/types/src/errors/apiError.ts
  packages/types/src/errors/types.ts
Labels: types

:tada: Publish pre-release (development) (#95)
  .changeset/pre.json
  apps/expo-playground/CHANGELOG.md
  internal/helpers/CHANGELOG.md
  internal/helpers/package.json
  packages/keystore/CHANGELOG.md
  packages/keystore/package.json
  packages/ledger/CHANGELOG.md
  packages/ledger/package.json
  packages/swapkit-api/CHANGELOG.md
  packages/swapkit-api/package.json
  packages/swapkit-core/CHANGELOG.md
  packages/swapkit-core/package.json
  packages/swapkit-entities/CHANGELOG.md
  packages/swapkit-entities/package.json
  packages/swapkit-explorers/CHANGELOG.md
  packages/swapkit-explorers/package.json
  packages/toolbox-cosmos/CHANGELOG.md
  packages/toolbox-cosmos/package.json
  packages/toolbox-evm/CHANGELOG.md
  packages/toolbox-evm/package.json
  packages/toolbox-utxo/CHANGELOG.md
  packages/toolbox-utxo/package.json
  packages/trezor/CHANGELOG.md
  packages/trezor/package.json
  packages/trustwallet/CHANGELOG.md
  packages/trustwallet/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/walletconnect/CHANGELOG.md
  packages/walletconnect/package.json
  packages/web-extensions/CHANGELOG.md
  packages/web-extensions/package.json
Labels: core, release

fix: utxo xdefi transfer (#98)
  .changeset/lazy-houses-perform.md
  packages/web-extensions/src/xdefiWallet/helpers.ts
Labels: web-ext

:tada: Publish pre-release (development) (#99)
  .changeset/pre.json
  apps/expo-playground/CHANGELOG.md
  packages/web-extensions/CHANGELOG.md
  packages/web-extensions/package.json
Labels: release

Small tweaks to ApiError (#100)
  .changeset/chilled-trains-wink.md
  packages/types/src/errors/types.ts
Labels: types

chore: expose balance on getWalletByChain & save it to connected chain (#102)
  .changeset/cuddly-spoons-provide.md
  packages/swapkit-core/src/client/index.ts
Labels: core

:tada: Publish pre-release (development) (#101)
  .changeset/pre.json
  apps/expo-playground/CHANGELOG.md
  internal/helpers/CHANGELOG.md
  internal/helpers/package.json
  packages/keystore/CHANGELOG.md
  packages/keystore/package.json
  packages/ledger/CHANGELOG.md
  packages/ledger/package.json
  packages/swapkit-api/CHANGELOG.md
  packages/swapkit-api/package.json
  packages/swapkit-core/CHANGELOG.md
  packages/swapkit-core/package.json
  packages/swapkit-entities/CHANGELOG.md
  packages/swapkit-entities/package.json
  packages/swapkit-explorers/CHANGELOG.md
  packages/swapkit-explorers/package.json
  packages/toolbox-cosmos/CHANGELOG.md
  packages/toolbox-cosmos/package.json
  packages/toolbox-evm/CHANGELOG.md
  packages/toolbox-evm/package.json
  packages/toolbox-utxo/CHANGELOG.md
  packages/toolbox-utxo/package.json
  packages/trezor/CHANGELOG.md
  packages/trezor/package.json
  packages/trustwallet/CHANGELOG.md
  packages/trustwallet/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/walletconnect/CHANGELOG.md
  packages/walletconnect/package.json
  packages/web-extensions/CHANGELOG.md
  packages/web-extensions/package.json
Labels: core, release

[LIB-61]: migrate Binance toolbox to cosmjs (#97)
  .changeset/fair-avocados-develop.md
  packages/keystore/src/keystore.ts
  packages/toolbox-cosmos/package.json
  packages/toolbox-cosmos/src/cosmosSdkClient.ts
  packages/toolbox-cosmos/src/thorchainUtils/types/client-types.ts
  packages/toolbox-cosmos/src/toolbox/binance.ts
  packages/toolbox-cosmos/src/types.ts
  yarn.lock
Labels: keystore, cosmos

fix: ledger transport initialization
  .changeset/nice-pans-develop.md
  apps/vite-playground/tsconfig.json
  packages/keystore/package.json
  packages/ledger/package.json
  packages/ledger/src/helpers/getLedgerTransport.ts
  packages/ledger/src/helpers/index.ts
  packages/ledger/src/interfaces/EthereumLikeLedgerInterface.ts
  packages/ledger/src/interfaces/LedgerInterfaces.ts
  yarn.lock
Labels: ledger

:tada: Publish pre-release (development) (#103)
  .changeset/dull-dolls-exercise.md
  .changeset/pre.json
  apps/expo-playground/CHANGELOG.md
  packages/keystore/CHANGELOG.md
  packages/keystore/package.json
  packages/ledger/CHANGELOG.md
  packages/ledger/package.json
  packages/ledger/src/helpers/getLedgerTransport.ts
  packages/toolbox-cosmos/CHANGELOG.md
  packages/toolbox-cosmos/package.json
  packages/trustwallet/CHANGELOG.md
  packages/trustwallet/package.json
  packages/web-extensions/CHANGELOG.md
  packages/web-extensions/package.json
  yarn.lock
Labels: ledger, release

Fix: add toSynth method for Asset entity (#104)
  .changeset/plenty-singers-own.md
  packages/swapkit-entities/src/entities/asset.ts
Labels: core

:tada: Publish pre-release (development) (#105)
  .changeset/pre.json
  apps/expo-playground/CHANGELOG.md
  internal/helpers/CHANGELOG.md
  internal/helpers/package.json
  packages/keystore/CHANGELOG.md
  packages/keystore/package.json
  packages/ledger/CHANGELOG.md
  packages/ledger/package.json
  packages/swapkit-core/CHANGELOG.md
  packages/swapkit-core/package.json
  packages/swapkit-entities/CHANGELOG.md
  packages/swapkit-entities/package.json
  packages/toolbox-cosmos/CHANGELOG.md
  packages/toolbox-cosmos/package.json
  packages/toolbox-evm/CHANGELOG.md
  packages/toolbox-evm/package.json
  packages/toolbox-utxo/CHANGELOG.md
  packages/toolbox-utxo/package.json
  packages/trezor/CHANGELOG.md
  packages/trezor/package.json
  packages/trustwallet/CHANGELOG.md
  packages/trustwallet/package.json
  packages/walletconnect/CHANGELOG.md
  packages/walletconnect/package.json
  packages/web-extensions/CHANGELOG.md
  packages/web-extensions/package.json
Labels: core, release

:tada: Publish pre-release (development) (#103)
  .changeset/lazy-cups-develop.md
  .changeset/pre.json
  apps/expo-playground/CHANGELOG.md
  packages/ledger/src/helpers/getLedgerTransport.ts
  packages/ledger/src/interfaces/LedgerInterfaces.ts
Labels: ledger

[LIB-36]: cleanup percent & amount helpers (#96)
  .changeset/many-seas-scream.md
  .changeset/pre.json
  .github/workflows/build-test-publish.yml
  apps/expo-playground/package.json
  apps/vite-playground/package.json
  internal/config/index.js
  internal/config/package.json
  internal/eslint-config-thorswap/package.json
  internal/generator/package.json
  internal/generator/template/library/package.json
  internal/helpers/package.json
  internal/helpers/src/__tests__/asset.test.ts
  internal/helpers/src/__tests__/derivationPath.test.ts
  internal/helpers/src/amount.ts
  internal/helpers/src/asset.ts
  internal/helpers/src/bigNumber.ts
  internal/helpers/src/index.ts
  package.json
  packages/keystore/package.json
  packages/ledger/package.json
  packages/swapkit-api/package.json
  packages/swapkit-core/package.json
  packages/swapkit-core/src/client/types.ts
  packages/swapkit-entities/package.json
  packages/swapkit-entities/src/entities/percent.ts
  packages/swapkit-entities/src/helpers/liquidity.ts
  packages/swapkit-entities/src/index.ts
  packages/swapkit-explorers/package.json
  packages/toolbox-cosmos/package.json
  packages/toolbox-cosmos/src/toolbox/binance.ts
  packages/toolbox-cosmos/src/toolbox/thorchain.ts
  packages/toolbox-evm/package.json
  packages/toolbox-utxo/package.json
  packages/trezor/package.json
  packages/trustwallet/package.json
  packages/walletconnect/package.json
  packages/web-extensions/package.json
  pnpm-lock.yaml
  turbo.json
Labels: maintenance, core, cosmos

:tada: Publish Pre-Release (development) (#106)
  .changeset/pre.json
  internal/helpers/CHANGELOG.md
  internal/helpers/package.json
  packages/keystore/CHANGELOG.md
  packages/keystore/package.json
  packages/ledger/CHANGELOG.md
  packages/ledger/package.json
  packages/swapkit-api/CHANGELOG.md
  packages/swapkit-api/package.json
  packages/swapkit-core/CHANGELOG.md
  packages/swapkit-core/package.json
  packages/swapkit-entities/CHANGELOG.md
  packages/swapkit-entities/package.json
  packages/swapkit-explorers/CHANGELOG.md
  packages/swapkit-explorers/package.json
  packages/toolbox-cosmos/CHANGELOG.md
  packages/toolbox-cosmos/package.json
  packages/toolbox-evm/CHANGELOG.md
  packages/toolbox-evm/package.json
  packages/toolbox-utxo/CHANGELOG.md
  packages/toolbox-utxo/package.json
  packages/trezor/CHANGELOG.md
  packages/trezor/package.json
  packages/trustwallet/CHANGELOG.md
  packages/trustwallet/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/walletconnect/CHANGELOG.md
  packages/walletconnect/package.json
  packages/web-extensions/CHANGELOG.md
  packages/web-extensions/package.json
Labels: core, release

[LIB-36]: cleanup percent & amount helpers (#96)
  .changeset/pre.json
  internal/config/package.json
  package.json
  patches/@changesets__cli@2.26.1.patch
  pnpm-lock.yaml
Labels: maintenance

.github/labeler.yml:

maintenance:
- ./internal/config/**/*
- ./internal/eslint-config-thorswap/**/*
- ./internal/generator/**/*
- ./package.json
- ./tsconfig.json
- ./turbo.json
- .github/**/*
- .vscode/**/*

core:
- packages/swapkit-core/**/*
- packages/swapkit-entities/**/*
- packages/swapkit-explorers/**/*

docs:
- apps/vite-playground/src/**/*
- apps/expo-playground/src/**/*

keystore:
- packages/keystore/src/**/*

ledger:
- packages/ledger/src/**/*

cosmos:
- packages/toolbox-cosmos/src/**/*

evm:
- packages/toolbox-evm/src/**/*

utxo:
- packages/toolbox-utxo/src/**/*

trezor:
- packages/trezor/src/**/*

types:
- packages/types/src/**/*

tw:
- packages/trustwallet/src/**/*

wc:
- packages/walletconnect/src/**/*

web-ext:
- packages/web-extensions/src/**/*

release:
- packages/**/CHANGELOG.md
