Repository devgod611/swapkit, changes with the labels that .github/labeler.yml gives for each.
All labels: release, maintenance, docs, core, types, cosmos, evm, utxo, keystore, ledger, trezor, tw, wc, xdefi, keplr, evm-web3-wallets

Version Packages (development) (#151)
  .changeset/pre.json
  packages/swapkit/swapkit-sdk/CHANGELOG.md
  packages/swapkit/swapkit-sdk/package.json
  packages/toolboxes/toolbox-utxo/CHANGELOG.md
  packages/toolboxes/toolbox-utxo/package.json
  packages/wallets/keystore/CHANGELOG.md
  packages/wallets/keystore/package.json
  packages/wallets/ledger/CHANGELOG.md
  packages/wallets/ledger/package.json
  packages/wallets/trezor/CHANGELOG.md
  packages/wallets/trezor/package.json
  packages/wallets/xdefi/CHANGELOG.md
  packages/wallets/xdefi/package.json
Labels: release

fix: trezor getAddress call and cache (#152)
  .changeset/kind-emus-burn.md
  packages/wallets/trezor/src/signer/evm.ts
  packages/wallets/trezor/src/trezor.ts
Labels: trezor

fix: trezor getAddress lint (#153)
  .changeset/pre.json
  internal/config/index.js
  internal/config/package.json
  internal/generator/package.json
  packages/swapkit/swapkit-core/package.json
  packages/toolboxes/toolbox-cosmos/package.json
  packages/wallets/trezor/package.json
  packages/wallets/trezor/src/signer/evm.ts
  packages/wallets/trezor/src/trezor.ts
  pnpm-lock.yaml
Labels: maintenance, core, trezor

:tada: Publish Pre-Release (development) (#154)
  .changeset/pre.json
  packages/swapkit/swapkit-sdk/CHANGELOG.md
  packages/swapkit/swapkit-sdk/package.json
  packages/wallets/trezor/CHANGELOG.md
  packages/wallets/trezor/package.json
Labels: release

fix: walletmethod strucutre (#155)
  .changeset/pink-dolphins-rhyme.md
  packages/wallets/trezor/src/trezor.ts
Labels: trezor

:tada: Publish Pre-Release (development) (#156)
  .changeset/pre.json
  packages/swapkit/swapkit-sdk/CHANGELOG.md
  packages/swapkit/swapkit-sdk/package.json
  packages/wallets/trezor/CHANGELOG.md
  packages/wallets/trezor/package.json
Labels: release

Feat/update api errors (#157)
  .changeset/shiny-hotels-hammer.md
  packages/swapkit/types/src/errors/apiError.ts
  packages/swapkit/types/src/errors/displayMessages.ts
  packages/swapkit/types/src/errors/types.ts
Labels: types

:tada: Publish Pre-Release (development) (#158)
  .changeset/pre.json
  internal/helpers/CHANGELOG.md
  internal/helpers/package.json
  packages/swapkit/swapkit-api/CHANGELOG.md
  packages/swapkit/swapkit-api/package.json
  packages/swapkit/swapkit-core/CHANGELOG.md
  packages/swapkit/swapkit-core/package.json
  packages/swapkit/swapkit-entities/CHANGELOG.md
  packages/swapkit/swapkit-entities/package.json
  packages/swapkit/swapkit-explorers/CHANGELOG.md
  packages/swapkit/swapkit-explorers/package.json
  packages/swapkit/swapkit-sdk/CHANGELOG.md
  packages/swapkit/swapkit-sdk/package.json
  packages/swapkit/types/CHANGELOG.md
  packages/swapkit/types/package.json
  packages/toolboxes/toolbox-cosmos/CHANGELOG.md
  packages/toolboxes/toolbox-cosmos/package.json
  packages/toolboxes/toolbox-evm/CHANGELOG.md
  packages/toolboxes/toolbox-evm/package.json
  packages/toolboxes/toolbox-utxo/CHANGELOG.md
  packages/toolboxes/toolbox-utxo/package.json
  packages/wallets/evm-web3-wallets/CHANGELOG.md
  packages/wallets/evm-web3-wallets/package.json
  packages/wallets/keplr/CHANGELOG.md
  packages/wallets/keplr/package.json
  packages/wallets/keystore/CHANGELOG.md
  packages/wallets/keystore/package.json
  packages/wallets/ledger/CHANGELOG.md
  packages/wallets/ledger/package.json
  packages/wallets/trezor/CHANGELOG.md
  packages/wallets/trezor/package.json
  packages/wallets/trustwallet/CHANGELOG.md
  packages/wallets/trustwallet/package.json
  packages/wallets/walletconnect/CHANGELOG.md
  packages/wallets/walletconnect/package.json
  packages/wallets/xdefi/CHANGELOG.md
  packages/wallets/xdefi/package.json
Labels: release, core

Update to API Errors (#159)
  .changeset/shaggy-phones-exercise.md
  packages/swapkit/types/src/errors/apiError.ts
  packages/swapkit/types/src/errors/displayMessages.ts
  packages/swapkit/types/src/errors/types.ts
Labels: types

Version Packages (development) (#160)
  .changeset/pre.json
  internal/helpers/CHANGELOG.md
  internal/helpers/package.json
  packages/swapkit/swapkit-api/CHANGELOG.md
  packages/swapkit/swapkit-api/package.json
  packages/swapkit/swapkit-core/CHANGELOG.md
  packages/swapkit/swapkit-core/package.json
  packages/swapkit/swapkit-entities/CHANGELOG.md
  packages/swapkit/swapkit-entities/package.json
  packages/swapkit/swapkit-explorers/CHANGELOG.md
  packages/swapkit/swapkit-explorers/package.json
  packages/swapkit/swapkit-sdk/CHANGELOG.md
  packages/swapkit/swapkit-sdk/package.json
  packages/swapkit/types/CHANGELOG.md
  packages/swapkit/types/package.json
  packages/toolboxes/toolbox-cosmos/CHANGELOG.md
  packages/toolboxes/toolbox-cosmos/package.json
  packages/toolboxes/toolbox-evm/CHANGELOG.md
  packages/toolboxes/toolbox-evm/package.json
  packages/toolboxes/toolbox-utxo/CHANGELOG.md
  packages/toolboxes/toolbox-utxo/package.json
  packages/wallets/evm-web3-wallets/CHANGELOG.md
  packages/wallets/evm-web3-wallets/package.json
  packages/wallets/keplr/CHANGELOG.md
  packages/wallets/keplr/package.json
  packages/wallets/keystore/CHANGELOG.md
  packages/wallets/keystore/package.json
  packages/wallets/ledger/CHANGELOG.md
  packages/wallets/ledger/package.json
  packages/wallets/trezor/CHANGELOG.md
  packages/wallets/trezor/package.json
  packages/wallets/trustwallet/CHANGELOG.md
  packages/wallets/trustwallet/package.json
  packages/wallets/walletconnect/CHANGELOG.md
  packages/wallets/walletconnect/package.json
  packages/wallets/xdefi/CHANGELOG.md
  packages/wallets/xdefi/package.json
Labels: release, core

feat: adaptable script type for derviation paths (#161)
  .changeset/calm-fishes-camp.md
  packages/wallets/trezor/src/trezor.ts
Labels: trezor

Version Packages (development) (#162)
  .changeset/pre.json
  packages/swapkit/swapkit-sdk/CHANGELOG.md
  packages/swapkit/swapkit-sdk/package.json
  packages/wallets/trezor/CHANGELOG.md
  packages/wallets/trezor/package.json
Labels: release

fix: trezor bch fix (#163)
  .changeset/fuzzy-feet-visit.md
  packages/swapkit/types/src/network.ts
  packages/wallets/ledger/src/helpers/derivationPath.ts
  packages/wallets/trezor/package.json
  packages/wallets/trezor/src/trezor.ts
  pnpm-lock.yaml
Labels: types, ledger, trezor

chore: fix build type error (#164)
  .size-limit.js
  packages/wallets/trezor/package.json
  pnpm-lock.yaml
Labels: none

Version Packages (development) (#165)
  .changeset/pre.json
  internal/helpers/CHANGELOG.md
  internal/helpers/package.json
  packages/swapkit/swapkit-api/CHANGELOG.md
  packages/swapkit/swapkit-api/package.json
  packages/swapkit/swapkit-core/CHANGELOG.md
  packages/swapkit/swapkit-core/package.json
  packages/swapkit/swapkit-entities/CHANGELOG.md
  packages/swapkit/swapkit-entities/package.json
  packages/swapkit/swapkit-explorers/CHANGELOG.md
  packages/swapkit/swapkit-explorers/package.json
  packages/swapkit/swapkit-sdk/CHANGELOG.md
  packages/swapkit/swapkit-sdk/package.json
  packages/swapkit/types/CHANGELOG.md
  packages/swapkit/types/package.json
  packages/toolboxes/toolbox-cosmos/CHANGELOG.md
  packages/toolboxes/toolbox-cosmos/package.json
  packages/toolboxes/toolbox-evm/CHANGELOG.md
  packages/toolboxes/toolbox-evm/package.json
  packages/toolboxes/toolbox-utxo/CHANGELOG.md
  packages/toolboxes/toolbox-utxo/package.json
  packages/wallets/evm-web3-wallets/CHANGELOG.md
  packages/wallets/evm-web3-wallets/package.json
  packages/wallets/keplr/CHANGELOG.md
  packages/wallets/keplr/package.json
  packages/wallets/keystore/CHANGELOG.md
  packages/wallets/keystore/package.json
  packages/wallets/ledger/CHANGELOG.md
  packages/wallets/ledger/package.json
  packages/wallets/trezor/CHANGELOG.md
  packages/wallets/trezor/package.json
  packages/wallets/trustwallet/CHANGELOG.md
  packages/wallets/trustwallet/package.json
  packages/wallets/walletconnect/CHANGELOG.md
  packages/wallets/walletconnect/package.json
  packages/wallets/xdefi/CHANGELOG.md
  packages/wallets/xdefi/package.json
Labels: release, core

Fix/bch quote address format (#166)
  .changeset/famous-mirrors-talk.md
  .changeset/fast-students-appear.md
  packages/swapkit/swapkit-api/src/api.ts
  packages/wallets/trezor/src/trezor.ts
Labels: trezor

Version Packages (development) (#167)
  .changeset/pre.json
  packages/swapkit/swapkit-api/CHANGELOG.md
  packages/swapkit/swapkit-api/package.json
  packages/swapkit/swapkit-sdk/CHANGELOG.md
  packages/swapkit/swapkit-sdk/package.json
  packages/toolboxes/toolbox-cosmos/CHANGELOG.md
  packages/toolboxes/toolbox-cosmos/package.json
  packages/wallets/keplr/CHANGELOG.md
  packages/wallets/keplr/package.json
  packages/wallets/keystore/CHANGELOG.md
  packages/wallets/keystore/package.json
  packages/wallets/ledger/CHANGELOG.md
  packages/wallets/ledger/package.json
  packages/wallets/trezor/CHANGELOG.md
  packages/wallets/trezor/package.json
  packages/wallets/trustwallet/CHANGELOG.md
  packages/wallets/trustwallet/package.json
  packages/wallets/xdefi/CHANGELOG.md
  packages/wallets/xdefi/package.json
Labels: release

Walletconnect 2.0 (#169)
  .changeset/blue-ads-bake.md
  apps/expo-playground/src/swapKitClient.ts
  apps/vite-playground/package.json
  apps/vite-playground/src/App.tsx
  apps/vite-playground/src/Send/index.tsx
  apps/vite-playground/src/WalletPicker.tsx
  apps/vite-playground/src/swapKitClient.ts
  packages/wallets/walletconnect/package.json
  packages/wallets/walletconnect/src/constants.ts
  packages/wallets/walletconnect/src/helpers.ts
  packages/wallets/walletconnect/src/walletconnect.ts
  pnpm-lock.yaml
Labels: docs, wc

Version Packages (development) (#170)
  .changeset/pre.json
  packages/swapkit/swapkit-sdk/CHANGELOG.md
  packages/swapkit/swapkit-sdk/package.json
  packages/wallets/walletconnect/CHANGELOG.md
  packages/wallets/walletconnect/package.json
Labels: release

Make covalent API key optional for type compatibility (#171)
  .changeset/tiny-chicken-prove.md
  packages/wallets/walletconnect/src/walletconnect.ts
Labels: wc

Version Packages (development) (#172)
  .changeset/pre.json
  packages/swapkit/swapkit-sdk/CHANGELOG.md
  packages/swapkit/swapkit-sdk/package.json
  packages/wallets/walletconnect/CHANGELOG.md
  packages/wallets/walletconnect/package.json
Labels: release

Make walletconnect project id optional (#173)
  .changeset/rotten-experts-flash.md
  packages/wallets/walletconnect/src/walletconnect.ts
Labels: wc

Version Packages (development) (#174)
  .changeset/pre.json
  packages/swapkit/swapkit-sdk/CHANGELOG.md
  packages/swapkit/swapkit-sdk/package.json
  packages/wallets/walletconnect/CHANGELOG.md
  packages/wallets/walletconnect/package.json
Labels: release

Add signer to walletconnect (#175)
  .changeset/friendly-files-impress.md
  packages/wallets/walletconnect/package.json
  packages/wallets/walletconnect/src/constants.ts
  packages/wallets/walletconnect/src/evmSigner.ts
  packages/wallets/walletconnect/src/helpers.ts
  packages/wallets/walletconnect/src/walletconnect.ts
  pnpm-lock.yaml
Labels: wc

:tada: Publish Pre-Release (development) (#176)
  .changeset/pre.json
  packages/swapkit/swapkit-sdk/CHANGELOG.md
  packages/swapkit/swapkit-sdk/package.json
  packages/wallets/walletconnect/CHANGELOG.md
  packages/wallets/walletconnect/package.json
Labels: release

fix: update dev deps, polyfills and fix playground (#178)
  apps/expo-playground/package.json
  apps/vite-playground/index.html
  apps/vite-playground/package.json
  apps/vite-playground/polyfills/events.js
  apps/vite-playground/polyfills/string_decoder.js
  apps/vite-playground/vite.config.ts
  internal/config/package.json
  internal/eslint-config-thorswap/package.json
  internal/generator/package.json
  internal/helpers/package.json
  package.json
  packages/swapkit/swapkit-api/package.json
  packages/swapkit/swapkit-core/package.json
  packages/swapkit/swapkit-entities/package.json
  packages/swapkit/swapkit-explorers/package.json
  packages/swapkit/swapkit-sdk/package.json
  packages/swapkit/types/package.json
  packages/toolboxes/toolbox-cosmos/package.json
  packages/toolboxes/toolbox-evm/package.json
  packages/toolboxes/toolbox-utxo/package.json
  packages/wallets/evm-web3-wallets/package.json
  packages/wallets/keplr/package.json
  packages/wallets/keystore/package.json
  packages/wallets/keystore/vite.config.ts
  packages/wallets/ledger/package.json
  packages/wallets/ledger/vite.config.ts
  packages/wallets/trezor/package.json
  packages/wallets/trustwallet/package.json
  packages/wallets/trustwallet/vite.config.ts
  packages/wallets/walletconnect/package.json
  packages/wallets/walletconnect/vite.config.ts
  packages/wallets/xdefi/package.json
  pnpm-lock.yaml
  turbo.json
Labels: maintenance, core

Minor updates to error modules and types (#179)
  .changeset/strong-pets-bow.md
  packages/swapkit/types/src/errors/displayMessages.ts
  packages/swapkit/types/src/errors/types.ts
Labels: types

:tada: Publish Pre-Release (development) (#180)
  .changeset/pre.json
  internal/helpers/CHANGELOG.md
  internal/helpers/package.json
  packages/swapkit/swapkit-api/CHANGELOG.md
  packages/swapkit/swapkit-api/package.json
  packages/swapkit/swapkit-core/CHANGELOG.md
  packages/swapkit/swapkit-core/package.json
  packages/swapkit/swapkit-entities/CHANGELOG.md
  packages/swapkit/swapkit-entities/package.json
  packages/swapkit/swapkit-explorers/CHANGELOG.md
  packages/swapkit/swapkit-explorers/package.json
  packages/swapkit/swapkit-sdk/CHANGELOG.md
  packages/swapkit/swapkit-sdk/package.json
  packages/swapkit/types/CHANGELOG.md
  packages/swapkit/types/package.json
  packages/toolboxes/toolbox-cosmos/CHANGELOG.md
  packages/toolboxes/toolbox-cosmos/package.json
  packages/toolboxes/toolbox-evm/CHANGELOG.md
  packages/toolboxes/toolbox-evm/package.json
  packages/toolboxes/toolbox-utxo/CHANGELOG.md
  packages/toolboxes/toolbox-utxo/package.json
  packages/wallets/evm-web3-wallets/CHANGELOG.md
  packages/wallets/evm-web3-wallets/package.json
  packages/wallets/keplr/CHANGELOG.md
  packages/wallets/keplr/package.json
  packages/wallets/keystore/CHANGELOG.md
  packages/wallets/keystore/package.json
  packages/wallets/ledger/CHANGELOG.md
  packages/wallets/ledger/package.json
  packages/wallets/trezor/CHANGELOG.md
  packages/wallets/trezor/package.json
  packages/wallets/trustwallet/CHANGELOG.md
  packages/wallets/trustwallet/package.json
  packages/wallets/walletconnect/CHANGELOG.md
  packages/wallets/walletconnect/package.json
  packages/wallets/xdefi/CHANGELOG.md
  packages/wallets/xdefi/package.json
Labels: release, core

chore: update memo for deposit
  .changeset/olive-turtles-dress.md
  .changeset/pre.json
  internal/helpers/CHANGELOG.md
  internal/helpers/package.json
  packages/swapkit/swapkit-core/CHANGELOG.md
  packages/swapkit/swapkit-core/package.json
  packages/swapkit/swapkit-entities/CHANGELOG.md
  packages/swapkit/swapkit-entities/package.json
  packages/swapkit/swapkit-entities/src/helpers/__tests__/memo.test.ts
  packages/swapkit/swapkit-entities/src/helpers/memo.ts
  packages/swapkit/swapkit-sdk/CHANGELOG.md
  packages/swapkit/swapkit-sdk/package.json
  packages/toolboxes/toolbox-cosmos/CHANGELOG.md
  packages/toolboxes/toolbox-cosmos/package.json
  packages/toolboxes/toolbox-evm/CHANGELOG.md
  packages/toolboxes/toolbox-evm/package.json
  packages/toolboxes/toolbox-utxo/CHANGELOG.md
  packages/toolboxes/toolbox-utxo/package.json
  packages/wallets/evm-web3-wallets/CHANGELOG.md
  packages/wallets/evm-web3-wallets/package.json
  packages/wallets/keplr/CHANGELOG.md
  packages/wallets/keplr/package.json
  packages/wallets/keystore/CHANGELOG.md
  packages/wallets/keystore/package.json
  packages/wallets/ledger/CHANGELOG.md
  packages/wallets/ledger/package.json
  packages/wallets/trezor/CHANGELOG.md
  packages/wallets/trezor/package.json
  packages/wallets/trustwallet/CHANGELOG.md
  packages/wallets/trustwallet/package.json
  packages/wallets/walletconnect/CHANGELOG.md
  packages/wallets/walletconnect/package.json
  packages/wallets/xdefi/CHANGELOG.md
  packages/wallets/xdefi/package.json
Labels: release, core

Add new providers errors (#181)
  .changeset/weak-beans-lie.md
  packages/swapkit/types/src/errors/displayMessages.ts
  packages/swapkit/types/src/errors/types.ts
Labels: types

:tada: Publish Pre-Release (development) (#182)
  .changeset/pre.json
  internal/helpers/CHANGELOG.md
  internal/helpers/package.json
  packages/swapkit/swapkit-api/CHANGELOG.md
  packages/swapkit/swapkit-api/package.json
  packages/swapkit/swapkit-core/CHANGELOG.md
  packages/swapkit/swapkit-core/package.json
  packages/swapkit/swapkit-entities/CHANGELOG.md
  packages/swapkit/swapkit-entities/package.json
  packages/swapkit/swapkit-explorers/CHANGELOG.md
  packages/swapkit/swapkit-explorers/package.json
  packages/swapkit/swapkit-sdk/CHANGELOG.md
  packages/swapkit/swapkit-sdk/package.json
  packages/swapkit/types/CHANGELOG.md
  packages/swapkit/types/package.json
  packages/toolboxes/toolbox-cosmos/CHANGELOG.md
  packages/toolboxes/toolbox-cosmos/package.json
  packages/toolboxes/toolbox-evm/CHANGELOG.md
  packages/toolboxes/toolbox-evm/package.json
  packages/toolboxes/toolbox-utxo/CHANGELOG.md
  packages/toolboxes/toolbox-utxo/package.json
  packages/wallets/evm-web3-wallets/CHANGELOG.md
  packages/wallets/evm-web3-wallets/package.json
  packages/wallets/keplr/CHANGELOG.md
  packages/wallets/keplr/package.json
  packages/wallets/keystore/CHANGELOG.md
  packages/wallets/keystore/package.json
  packages/wallets/ledger/CHANGELOG.md
  packages/wallets/ledger/package.json
  packages/wallets/trezor/CHANGELOG.md
  packages/wallets/trezor/package.json
  packages/wallets/trustwallet/CHANGELOG.md
  packages/wallets/trustwallet/package.json
  packages/wallets/walletconnect/CHANGELOG.md
  packages/wallets/walletconnect/package.json
  packages/wallets/xdefi/CHANGELOG.md
  packages/wallets/xdefi/package.json
Labels: release, core

Feature/add arbitrum chain (#177)
  .changeset/early-bats-brush.md
  .changeset/shy-avocados-sip.md
  packages/swapkit/swapkit-core/src/client/helpers.ts
  packages/swapkit/swapkit-core/src/client/types.ts
  packages/swapkit/swapkit-entities/src/helpers/asset.ts
  packages/swapkit/swapkit-explorers/src/index.ts
  packages/swapkit/types/src/commonTypes.ts
  packages/swapkit/types/src/network.ts
  packages/toolboxes/toolbox-evm/src/index.ts
  packages/toolboxes/toolbox-evm/src/toolbox/BaseEVMToolbox.ts
  packages/toolboxes/toolbox-evm/src/toolbox/arb.ts
  packages/wallets/walletconnect/src/helpers.ts
Labels: core, types, evm, wc

:tada: Publish Pre-Release (development) (#183)
  .changeset/pre.json
  internal/helpers/CHANGELOG.md
  internal/helpers/package.json
  packages/swapkit/swapkit-api/CHANGELOG.md
  packages/swapkit/swapkit-api/package.json
  packages/swapkit/swapkit-core/CHANGELOG.md
  packages/swapkit/swapkit-core/package.json
  packages/swapkit/swapkit-entities/CHANGELOG.md
  packages/swapkit/swapkit-entities/package.json
  packages/swapkit/swapkit-explorers/CHANGELOG.md
  packages/swapkit/swapkit-explorers/package.json
  packages/swapkit/swapkit-sdk/CHANGELOG.md
  packages/swapkit/swapkit-sdk/package.json
  packages/swapkit/types/CHANGELOG.md
  packages/swapkit/types/package.json
  packages/toolboxes/toolbox-cosmos/CHANGELOG.md
  packages/toolboxes/toolbox-cosmos/package.json
  packages/toolboxes/toolbox-evm/CHANGELOG.md
  packages/toolboxes/toolbox-evm/package.json
  packages/toolboxes/toolbox-utxo/CHANGELOG.md
  packages/toolboxes/toolbox-utxo/package.json
  packages/wallets/evm-web3-wallets/CHANGELOG.md
  packages/wallets/evm-web3-wallets/package.json
  packages/wallets/keplr/CHANGELOG.md
  packages/wallets/keplr/package.json
  packages/wallets/keystore/CHANGELOG.md
  packages/wallets/keystore/package.json
  packages/wallets/ledger/CHANGELOG.md
  packages/wallets/ledger/package.json
  packages/wallets/trezor/CHANGELOG.md
  packages/wallets/trezor/package.json
  packages/wallets/trustwallet/CHANGELOG.md
  packages/wallets/trustwallet/package.json
  packages/wallets/walletconnect/CHANGELOG.md
  packages/wallets/walletconnect/package.json
  packages/wallets/xdefi/CHANGELOG.md
  packages/wallets/xdefi/package.json
Labels: release, core

chore: bump dependencies (#185)
  .changeset/fast-fishes-attend.md
  apps/expo-playground/package.json
  apps/vite-playground/package.json
  internal/config/package.json
  internal/eslint-config-thorswap/package.json
  internal/generator/package.json
  internal/helpers/package.json
  package.json
  packages/swapkit/swapkit-api/package.json
  packages/swapkit/swapkit-core/package.json
  packages/swapkit/swapkit-entities/package.json
  packages/swapkit/swapkit-explorers/package.json
  packages/swapkit/swapkit-sdk/package.json
  packages/swapkit/types/package.json
  packages/toolboxes/toolbox-cosmos/package.json
  packages/toolboxes/toolbox-evm/package.json
  packages/toolboxes/toolbox-utxo/package.json
  packages/wallets/evm-web3-wallets/package.json
  packages/wallets/keplr/package.json
  packages/wallets/keystore/package.json
  packages/wallets/ledger/package.json
  packages/wallets/trezor/package.json
  packages/wallets/trustwallet/package.json
  packages/wallets/walletconnect/package.json
  packages/wallets/xdefi/package.json
  pnpm-lock.yaml
Labels: maintenance, core

:tada: Publish Pre-Release (development) (#187)
  .changeset/pre.json
  internal/config/CHANGELOG.md
  internal/config/package.json
  internal/helpers/CHANGELOG.md
  internal/helpers/package.json
  packages/swapkit/swapkit-api/CHANGELOG.md
  packages/swapkit/swapkit-api/package.json
  packages/swapkit/swapkit-core/CHANGELOG.md
  packages/swapkit/swapkit-core/package.json
  packages/swapkit/swapkit-entities/CHANGELOG.md
  packages/swapkit/swapkit-entities/package.json
  packages/swapkit/swapkit-explorers/CHANGELOG.md
  packages/swapkit/swapkit-explorers/package.json
  packages/swapkit/swapkit-sdk/CHANGELOG.md
  packages/swapkit/swapkit-sdk/package.json
  packages/swapkit/types/CHANGELOG.md
  packages/swapkit/types/package.json
  packages/toolboxes/toolbox-cosmos/CHANGELOG.md
  packages/toolboxes/toolbox-cosmos/package.json
  packages/toolboxes/toolbox-evm/CHANGELOG.md
  packages/toolboxes/toolbox-evm/package.json
  packages/toolboxes/toolbox-utxo/CHANGELOG.md
  packages/toolboxes/toolbox-utxo/package.json
  packages/wallets/evm-web3-wallets/CHANGELOG.md
  packages/wallets/evm-web3-wallets/package.json
  packages/wallets/keplr/CHANGELOG.md
  packages/wallets/keplr/package.json
  packages/wallets/keystore/CHANGELOG.md
  packages/wallets/keystore/package.json
  packages/wallets/ledger/CHANGELOG.md
  packages/wallets/ledger/package.json
  packages/wallets/trezor/CHANGELOG.md
  packages/wallets/trezor/package.json
  packages/wallets/trustwallet/CHANGELOG.md
  packages/wallets/trustwallet/package.json
  packages/wallets/walletconnect/CHANGELOG.md
  packages/wallets/walletconnect/package.json
  packages/wallets/xdefi/CHANGELOG.md
  packages/wallets/xdefi/package.json
Labels: release, maintenance, core

.github/labeler.yml:

release:
- packages/**/CHANGELOG.md

maintenance:
- ./internal/config/**/*
- ./internal/eslint-config-thorswap/**/*
- ./internal/generator/**/*
- ./package.json
- ./tsconfig.json
- ./turbo.json
- .github/**/*
- .vscode/**/*

docs:
- apps/vite-playground/src/**/*
- apps/expo-playground/src/**/*

core:
- packages/swapkit/swapkit-core/**/*
- packages/swapkit/swapkit-entities/**/*
- packages/swapkit/swapkit-explorers/**/*
types:
- packages/swapkit/types/src/**/*

cosmos:
- packages/toolboxes/toolbox-cosmos/src/**/*
evm:
- packages/toolboxes/toolbox-evm/src/**/*
utxo:
- packages/toolboxes/toolbox-utxo/src/**/*

keystore:
- packages/wallets/keystore/src/**/*
ledger:
- packages/wallets/ledger/src/**/*
trezor:
- packages/wallets/trezor/src/**/*
tw:
- packages/wallets/trustwallet/src/**/*
wc:
- packages/wallets/walletconnect/src/**/*
xdefi:
- packages/wallets/xdefi/src/**/*
keplr:
- packages/wallets/keplr/src/**/*
evm-web3-wallets:
- packages/wallets/evm-web3-wallets/src/**/*
