Repository devgod611/swapkit, changes with the labels that .github/labeler.yml gives for each.
All labels: core, docs, keystore, ledger, cosmos, evm, utxo, trezor, types, tw, wc, web-ext, release

:tada: publish pre-release (development) (#68)
  .changeset/pre.json
  packages/keystore/CHANGELOG.md
  packages/keystore/package.json
  packages/ledger/CHANGELOG.md
  packages/ledger/package.json
  packages/swapkit-core/CHANGELOG.md
  packages/swapkit-core/package.json
  packages/toolbox-evm/CHANGELOG.md
  packages/toolbox-evm/package.json
  packages/trezor/CHANGELOG.md
  packages/trezor/package.json
  packages/trustwallet/CHANGELOG.md
  packages/trustwallet/package.json
  packages/walletconnect/CHANGELOG.md
  packages/walletconnect/package.json
  packages/web-extensions/CHANGELOG.md
  packages/web-extensions/package.json
Labels: core, keystore, ledger, evm, trezor, tw, wc, web-ext, release

Feat/add chain hex map (#69)
  .changeset/fuzzy-donuts-enjoy.md
  packages/swapkit-entities/src/entities/asset.ts
  packages/types/src/network.ts
Labels: core, types

Fix types (#70)
  .changeset/gentle-kiwis-give.md
  packages/swapkit-core/src/client/types.ts
  packages/types/src/wallet.ts
Labels: core, types

Version Packages (development) (#71)
  .changeset/pre.json
  internal/helpers/CHANGELOG.md
  internal/helpers/package.json
  packages/keystore/CHANGELOG.md
  packages/keystore/package.json
  packages/ledger/CHANGELOG.md
  packages/ledger/package.json
  packages/swapkit-api/CHANGELOG.md
  packages/swapkit-api/package.json
  packages/swapkit-core/CHANGELOG.md
  packages/swapkit-core/package.json
  packages/swapkit-entities/CHANGELOG.md
  packages/swapkit-entities/package.json
  packages/swapkit-explorers/CHANGELOG.md
  packages/swapkit-explorers/package.json
  packages/toolbox-cosmos/CHANGELOG.md
  packages/toolbox-cosmos/package.json
  packages/toolbox-evm/CHANGELOG.md
  packages/toolbox-evm/package.json
  packages/toolbox-utxo/CHANGELOG.md
  packages/toolbox-utxo/package.json
  packages/trezor/CHANGELOG.md
  packages/trezor/package.json
  packages/trustwallet/CHANGELOG.md
  packages/trustwallet/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/walletconnect/CHANGELOG.md
  packages/walletconnect/package.json
  packages/web-extensions/CHANGELOG.md
  packages/web-extensions/package.json
Labels: core, keystore, ledger, cosmos, evm, utxo, trezor, types, tw, wc, web-ext, release

Fix types (#72)
  .changeset/afraid-spoons-deliver.md
  packages/swapkit-core/src/client/core.ts
  packages/swapkit-core/src/client/types.ts
Labels: core

Version Packages (development) (#73)
  .changeset/pre.json
  packages/swapkit-core/CHANGELOG.md
  packages/swapkit-core/package.json
Labels: core, release

Fix types (#74)
  .changeset/famous-items-study.md
  packages/swapkit-core/src/client/core.ts
  packages/walletconnect/src/walletconnect.ts
Labels: core, wc

Version Packages (development) (#75)
  .changeset/pre.json
  packages/swapkit-core/CHANGELOG.md
  packages/swapkit-core/package.json
  packages/walletconnect/CHANGELOG.md
  packages/walletconnect/package.json
Labels: core, wc, release

feat: evm improvements (#66)
  .changeset/tasty-waves-drop.md
  packages/swapkit-core/src/client/core.ts
  packages/toolbox-evm/src/toolbox/BaseEVMToolbox.ts
  packages/toolbox-evm/src/toolbox/avax.ts
  packages/toolbox-evm/src/types/clientTypes.ts
  packages/trezor/src/signer/evm.ts
  packages/types/src/transactions.ts
  packages/walletconnect/src/walletconnect.ts
  packages/web-extensions/src/evmWallet/helpers.ts
  packages/web-extensions/src/xdefiWallet/helpers.ts
Labels: core, evm, trezor, types, wc, web-ext

:tada: publish pre-release (development) (#76)
  .changeset/pre.json
  internal/helpers/CHANGELOG.md
  internal/helpers/package.json
  packages/keystore/CHANGELOG.md
  packages/keystore/package.json
  packages/ledger/CHANGELOG.md
  packages/ledger/package.json
  packages/swapkit-api/CHANGELOG.md
  packages/swapkit-api/package.json
  packages/swapkit-core/CHANGELOG.md
  packages/swapkit-core/package.json
  packages/swapkit-entities/CHANGELOG.md
  packages/swapkit-entities/package.json
  packages/swapkit-explorers/CHANGELOG.md
  packages/swapkit-explorers/package.json
  packages/toolbox-cosmos/CHANGELOG.md
  packages/toolbox-cosmos/package.json
  packages/toolbox-evm/CHANGELOG.md
  packages/toolbox-evm/package.json
  packages/toolbox-utxo/CHANGELOG.md
  packages/toolbox-utxo/package.json
  packages/trezor/CHANGELOG.md
  packages/trezor/package.json
  packages/trustwallet/CHANGELOG.md
  packages/trustwallet/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/walletconnect/CHANGELOG.md
  packages/walletconnect/package.json
  packages/web-extensions/CHANGELOG.md
  packages/web-extensions/package.json
Labels: core, keystore, ledger, cosmos, evm, utxo, trezor, types, tw, wc, web-ext, release

Rename walletconnectWallet --> trustwalletWallet (#77)
  .changeset/stupid-pumas-sit.md
  packages/trustwallet/src/trustwallet.ts
Labels: tw

:tada: publish pre-release (development) (#78)
  .changeset/pre.json
  packages/trustwallet/CHANGELOG.md
  packages/trustwallet/package.json
Labels: tw, release

Fix/approval evm (#79)
  .changeset/eleven-lies-sit.md
  .changeset/pre.json
  apps/vite-playground/src/WalletPicker.tsx
  internal/helpers/CHANGELOG.md
  internal/helpers/package.json
  internal/helpers/src/bigNumber.ts
  packages/keystore/CHANGELOG.md
  packages/keystore/package.json
  packages/ledger/CHANGELOG.md
  packages/ledger/package.json
  packages/swapkit-api/CHANGELOG.md
  packages/swapkit-api/package.json
  packages/swapkit-core/CHANGELOG.md
  packages/swapkit-core/package.json
  packages/swapkit-core/src/client/core.ts
  packages/swapkit-entities/CHANGELOG.md
  packages/swapkit-entities/package.json
  packages/swapkit-explorers/CHANGELOG.md
  packages/swapkit-explorers/package.json
  packages/toolbox-cosmos/CHANGELOG.md
  packages/toolbox-cosmos/package.json
  packages/toolbox-evm/CHANGELOG.md
  packages/toolbox-evm/package.json
  packages/toolbox-evm/src/constants.ts
  packages/toolbox-evm/src/toolbox/BaseEVMToolbox.ts
  packages/toolbox-evm/src/types/clientTypes.ts
  packages/toolbox-utxo/CHANGELOG.md
  packages/toolbox-utxo/package.json
  packages/trezor/CHANGELOG.md
  packages/trezor/package.json
  packages/trustwallet/CHANGELOG.md
  packages/trustwallet/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/walletconnect/CHANGELOG.md
  packages/walletconnect/package.json
  packages/web-extensions/CHANGELOG.md
  packages/web-extensions/package.json
  packages/web-extensions/src/xdefiWallet/helpers.ts
Labels: core, docs, keystore, ledger, cosmos, evm, utxo, trezor, types, tw, wc, web-ext, release

chore: add more error types and codes
  .changeset/five-candles-tease.md
  .changeset/pre.json
  internal/helpers/CHANGELOG.md
  internal/helpers/package.json
  packages/keystore/CHANGELOG.md
  packages/keystore/package.json
  packages/ledger/CHANGELOG.md
  packages/ledger/package.json
  packages/swapkit-api/CHANGELOG.md
  packages/swapkit-api/package.json
  packages/swapkit-core/CHANGELOG.md
  packages/swapkit-core/package.json
  packages/swapkit-entities/CHANGELOG.md
  packages/swapkit-entities/package.json
  packages/swapkit-explorers/CHANGELOG.md
  packages/swapkit-explorers/package.json
  packages/toolbox-cosmos/CHANGELOG.md
  packages/toolbox-cosmos/package.json
  packages/toolbox-evm/CHANGELOG.md
  packages/toolbox-evm/package.json
  packages/toolbox-utxo/CHANGELOG.md
  packages/toolbox-utxo/package.json
  packages/trezor/CHANGELOG.md
  packages/trezor/package.json
  packages/trustwallet/CHANGELOG.md
  packages/trustwallet/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/types/src/error.ts
  packages/types/src/errors/apiError.ts
  packages/types/src/errors/index.ts
  packages/types/src/errors/types.ts
  packages/types/src/index.ts
  packages/walletconnect/CHANGELOG.md
  packages/walletconnect/package.json
  packages/web-extensions/CHANGELOG.md
  packages/web-extensions/package.json
Labels: core, keystore, ledger, cosmos, evm, utxo, trezor, types, tw, wc, web-ext, release

:tada: publish pre-release (development) (#81)
  .changeset/pre.json
  apps/expo-playground/CHANGELOG.md
  apps/expo-playground/package.json
  internal/helpers/CHANGELOG.md
  internal/helpers/package.json
  packages/keystore/CHANGELOG.md
  packages/keystore/package.json
  packages/ledger/CHANGELOG.md
  packages/ledger/package.json
  packages/swapkit-api/CHANGELOG.md
  packages/swapkit-api/package.json
  packages/swapkit-core/CHANGELOG.md
  packages/swapkit-core/package.json
  packages/swapkit-entities/CHANGELOG.md
  packages/swapkit-entities/package.json
  packages/swapkit-explorers/CHANGELOG.md
  packages/swapkit-explorers/package.json
  packages/toolbox-cosmos/CHANGELOG.md
  packages/toolbox-cosmos/package.json
  packages/toolbox-evm/CHANGELOG.md
  packages/toolbox-evm/package.json
  packages/toolbox-utxo/CHANGELOG.md
  packages/toolbox-utxo/package.json
  packages/trezor/CHANGELOG.md
  packages/trezor/package.json
  packages/trustwallet/CHANGELOG.md
  packages/trustwallet/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/walletconnect/CHANGELOG.md
  packages/walletconnect/package.json
  packages/web-extensions/CHANGELOG.md
  packages/web-extensions/package.json
Labels: core, keystore, ledger, cosmos, evm, utxo, trezor, types, tw, wc, web-ext, release

chore: update docs
  README.md
  packages/keystore/README.md
  packages/ledger/README.md
  packages/trezor/README.md
  packages/walletconnect/README.md
Labels: keystore, ledger, trezor, wc

chore: approved asset amount
  .changeset/pre.json
  .changeset/rotten-trainers-thank.md
  .changeset/strange-elephants-camp.md
  apps/expo-playground/CHANGELOG.md
  apps/expo-playground/ios/expoplayground/Supporting/Expo.plist
  internal/helpers/CHANGELOG.md
  internal/helpers/package.json
  packages/keystore/CHANGELOG.md
  packages/keystore/package.json
  packages/ledger/CHANGELOG.md
  packages/ledger/package.json
  packages/swapkit-api/CHANGELOG.md
  packages/swapkit-api/package.json
  packages/swapkit-core/CHANGELOG.md
  packages/swapkit-core/package.json
  packages/swapkit-core/src/client/index.ts
  packages/swapkit-entities/CHANGELOG.md
  packages/swapkit-entities/package.json
  packages/swapkit-explorers/CHANGELOG.md
  packages/swapkit-explorers/package.json
  packages/toolbox-cosmos/CHANGELOG.md
  packages/toolbox-cosmos/package.json
  packages/toolbox-evm/CHANGELOG.md
  packages/toolbox-evm/package.json
  packages/toolbox-evm/src/constants.ts
  packages/toolbox-utxo/CHANGELOG.md
  packages/toolbox-utxo/package.json
  packages/trezor/CHANGELOG.md
  packages/trezor/package.json
  packages/trustwallet/CHANGELOG.md
  packages/trustwallet/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/walletconnect/CHANGELOG.md
  packages/walletconnect/package.json
  packages/web-extensions/CHANGELOG.md
  packages/web-extensions/package.json
Labels: core, keystore, ledger, cosmos, evm, utxo, trezor, types, tw, wc, web-ext, release

Create LICENSE
  LICENSE
Labels: none

chore: add lending memos & wire deposits via _depositToPool (#82)
  .changeset/brave-mugs-smell.md
  .changeset/shy-deers-invite.md
  apps/expo-playground/package.json
  apps/vite-playground/src/App.tsx
  apps/vite-playground/src/Loan/index.tsx
  apps/vite-playground/src/Swap/SwapInputs.tsx
  apps/vite-playground/src/Swap/index.tsx
  apps/vite-playground/src/WalletPicker.tsx
  apps/vite-playground/src/swapKitClient.ts
  internal/generator/template/library/package.json
  package.json
  packages/swapkit-core/package.json
  packages/swapkit-core/src/client/index.ts
  packages/swapkit-core/src/client/types.ts
  packages/swapkit-entities/src/helpers/memo.ts
  packages/walletconnect/src/walletconnect.ts
  yarn.lock
Labels: core, docs, wc

chore: update publish yml
  .github/workflows/development-publish.yml
  .github/workflows/main-publish.yml
Labels: none

:tada: Publish pre-release (development) (#83)
  .changeset/pre.json
  apps/expo-playground/CHANGELOG.md
  apps/expo-playground/package.json
  internal/helpers/CHANGELOG.md
  internal/helpers/package.json
  packages/keystore/CHANGELOG.md
  packages/keystore/package.json
  packages/ledger/CHANGELOG.md
  packages/ledger/package.json
  packages/swapkit-core/CHANGELOG.md
  packages/swapkit-core/package.json
  packages/swapkit-entities/CHANGELOG.md
  packages/swapkit-entities/package.json
  packages/toolbox-cosmos/CHANGELOG.md
  packages/toolbox-cosmos/package.json
  packages/toolbox-evm/CHANGELOG.md
  packages/toolbox-evm/package.json
  packages/toolbox-utxo/CHANGELOG.md
  packages/toolbox-utxo/package.json
  packages/trezor/CHANGELOG.md
  packages/trezor/package.json
  packages/trustwallet/CHANGELOG.md
  packages/trustwallet/package.json
  packages/walletconnect/CHANGELOG.md
  packages/walletconnect/package.json
  packages/web-extensions/CHANGELOG.md
  packages/web-extensions/package.json
Labels: core, keystore, ledger, cosmos, evm, utxo, trezor, tw, wc, web-ext, release

chore: update publish yml
  .github/workflows/development-publish.yml
  .github/workflows/main-publish.yml
Labels: none

.github/labeler.yml:

core:
- packages/swapkit-core/**/*
- packages/swapkit-entities/**/*
- packages/swapkit-explorers/**/*

docs:
- apps/vite-playground/**/*

keystore:
- packages/keystore/**/*

ledger:
- packages/ledger/**/*

cosmos:
- packages/toolbox-cosmos/**/*

evm:
- packages/toolbox-evm/**/*

utxo:
- packages/toolbox-utxo/**/*

trezor:
- packages/trezor/**/*

types:
- packages/types/**/*

tw:
- packages/trustwallet/**/*

wc:
- packages/walletconnect/**/*

web-ext:
- packages/web-extensions/**/*

release:
- packages/**/CHANGELOG.md
