Repository devgod611/swapkit, changes with the labels that .github/labeler.yml gives for each.
All labels: release, maintenance, docs, core, types, cosmos, evm, utxo, keystore, ledger, trezor, tw, wc, xdefi, keplr, evm-web3-wallets

.github/labeler.yml:

release:
- packages/**/CHANGELOG.md

maintenance:
- ./internal/config/**/*
- ./internal/eslint-config-thorswap/**/*
- ./internal/generator/**/*
- ./package.json
- ./tsconfig.json
- ./turbo.json
- .github/**/*
- .vscode/**/*

docs:
- apps/vite-playground/src/**/*
- apps/expo-playground/src/**/*

core:
- packages/swapkit/swapkit-core/**/*
- packages/swapkit/swapkit-entities/**/*
- packages/swapkit/swapkit-explorers/**/*
types:
- packages/swapkit/types/src/**/*

cosmos:
- packages/toolboxes/toolbox-cosmos/src/**/*
evm:
- packages/toolboxes/toolbox-evm/src/**/*
utxo:
- packages/toolboxes/toolbox-utxo/src/**/*

keystore:
- packages/wallets/keystore/src/**/*
ledger:
- packages/wallets/ledger/src/**/*
trezor:
- packages/wallets/trezor/src/**/*
tw:
- packages/wallets/trustwallet/src/**/*
wc:
- packages/wallets/walletconnect/src/**/*
xdefi:
- packages/wallets/xdefi/src/**/*
keplr:
- packages/wallets/keplr/src/**/*
evm-web3-wallets:
- packages/wallets/evm-web3-wallets/src/**/*

chore: simplify evm apis (#112)
  .size-limit.js
  packages/toolboxes/toolbox-evm/src/api/covalentApi.ts
  packages/toolboxes/toolbox-evm/src/api/eth/EthereumHybridApi.ts
  packages/toolboxes/toolbox-evm/src/api/eth/ethplorerApi.ts
  packages/toolboxes/toolbox-evm/src/api/eth/index.ts
  packages/toolboxes/toolbox-evm/src/api/ethplorerApi.ts
  packages/toolboxes/toolbox-evm/src/api/index.ts
  packages/toolboxes/toolbox-evm/src/index.ts
  packages/toolboxes/toolbox-evm/src/toolbox/avax.ts
  packages/toolboxes/toolbox-evm/src/toolbox/bsc.ts
  packages/toolboxes/toolbox-evm/src/toolbox/eth.ts
Labels: evm

Fix BNB getBalance (#114)
  .changeset/rotten-jeans-poke.md
  packages/toolboxes/toolbox-cosmos/src/toolbox/binance.ts
Labels: cosmos

:tada: Publish Pre-Release (development) (#115)
  .changeset/pre.json
  packages/swapkit/swapkit-sdk/CHANGELOG.md
  packages/swapkit/swapkit-sdk/package.json
  packages/toolboxes/toolbox-cosmos/CHANGELOG.md
  packages/toolboxes/toolbox-cosmos/package.json
  packages/wallets/keplr/CHANGELOG.md
  packages/wallets/keplr/package.json
  packages/wallets/keystore/CHANGELOG.md
  packages/wallets/keystore/package.json
  packages/wallets/ledger/CHANGELOG.md
  packages/wallets/ledger/package.json
  packages/wallets/trustwallet/CHANGELOG.md
  packages/wallets/trustwallet/package.json
  packages/wallets/xdefi/CHANGELOG.md
  packages/wallets/xdefi/package.json
Labels: release

fix: local playground
  .npmrc
  apps/vite-playground/package.json
  apps/vite-playground/src/swapKitClient.ts
  apps/vite-playground/tsconfig.json
  apps/vite-playground/vite.config.ts
  package.json
  pnpm-lock.yaml
Labels: maintenance, docs

feat: add avax woofi contract (#116)
  .changeset/neat-mirrors-call.md
  packages/swapkit/swapkit-core/src/aggregator/contracts/avaxWoofi.ts
  packages/swapkit/swapkit-core/src/aggregator/contracts/index.ts
  packages/swapkit/swapkit-core/src/aggregator/getSwapInParams.ts
Labels: core

:tada: Publish Pre-Release (development) (#117)
  .changeset/pre.json
  packages/swapkit/swapkit-core/CHANGELOG.md
  packages/swapkit/swapkit-core/package.json
  packages/swapkit/swapkit-sdk/CHANGELOG.md
  packages/swapkit/swapkit-sdk/package.json
Labels: release, core

chore: enable custom keys on ui & try out pages
  .github/workflows/build-test-publish.yml
  apps/vite-playground/index.html
  apps/vite-playground/package.json
  apps/vite-playground/src/App.tsx
  apps/vite-playground/src/Loan/index.tsx
  apps/vite-playground/src/Swap/SwapInputs.tsx
  apps/vite-playground/src/Swap/index.tsx
  apps/vite-playground/src/WalletPicker.tsx
  apps/vite-playground/src/swapKitClient.ts
  apps/vite-playground/vite.config.ts
  package.json
  pnpm-lock.yaml
  turbo.json
Labels: maintenance, docs

fix: ledger device connection (#118)
  .changeset/odd-insects-teach.md
  packages/wallets/ledger/src/helpers/getLedgerTransport.ts
Labels: ledger

fix: getLedgerDevice method return vallue (#120)
  .changeset/blue-shrimps-march.md
  packages/wallets/ledger/src/helpers/getLedgerTransport.ts
Labels: ledger

Version Packages (development) (#119)
  .changeset/pre.json
  packages/swapkit/swapkit-sdk/CHANGELOG.md
  packages/swapkit/swapkit-sdk/package.json
  packages/wallets/ledger/CHANGELOG.md
  packages/wallets/ledger/package.json
Labels: release

[LIB-62]: Migrate cosmos toolbox from cosmos-client/core to cosmjs (#121)
  .changeset/early-elephants-sleep.md
  packages/toolboxes/toolbox-cosmos/src/cosmosSdkClient.ts
  packages/toolboxes/toolbox-cosmos/src/thorchainUtils/types/client-types.ts
  packages/toolboxes/toolbox-cosmos/src/toolbox/gaia.ts
  packages/toolboxes/toolbox-cosmos/src/types.ts
  packages/wallets/ledger/package.json
  packages/wallets/ledger/src/clients/cosmos.ts
  packages/wallets/ledger/src/interfaces/LedgerInterfaces.ts
  packages/wallets/ledger/src/ledger.ts
  packages/wallets/ledger/vite.config.ts
  pnpm-lock.yaml
Labels: cosmos, ledger

fix: build issue (#122)
  .changeset/afraid-toys-sit.md
  .changeset/kind-moons-retire.md
  .changeset/shy-bugs-unite.md
  packages/toolboxes/toolbox-cosmos/package.json
  packages/toolboxes/toolbox-cosmos/src/cosmosSdkClient.ts
  packages/toolboxes/toolbox-cosmos/src/thorchainUtils/types/client-types.ts
  packages/toolboxes/toolbox-cosmos/src/toolbox/binance.ts
  packages/toolboxes/toolbox-cosmos/src/toolbox/gaia.ts
  packages/toolboxes/toolbox-cosmos/src/types.ts
  packages/toolboxes/toolbox-utxo/package.json
  packages/wallets/keystore/package.json
  packages/wallets/keystore/src/keystore.ts
  packages/wallets/ledger/package.json
  packages/wallets/ledger/src/clients/cosmos.ts
  packages/wallets/walletconnect/package.json
  packages/wallets/walletconnect/vite.config.ts
  pnpm-lock.yaml
Labels: cosmos, keystore, ledger

Version Packages (development) (#123)
  .changeset/pre.json
  packages/swapkit/swapkit-sdk/CHANGELOG.md
  packages/swapkit/swapkit-sdk/package.json
  packages/toolboxes/toolbox-cosmos/CHANGELOG.md
  packages/toolboxes/toolbox-cosmos/package.json
  packages/wallets/keplr/CHANGELOG.md
  packages/wallets/keplr/package.json
  packages/wallets/keystore/CHANGELOG.md
  packages/wallets/keystore/package.json
  packages/wallets/ledger/CHANGELOG.md
  packages/wallets/ledger/package.json
  packages/wallets/trustwallet/CHANGELOG.md
  packages/wallets/trustwallet/package.json
  packages/wallets/walletconnect/CHANGELOG.md
  packages/wallets/walletconnect/package.json
  packages/wallets/xdefi/CHANGELOG.md
  packages/wallets/xdefi/package.json
Labels: release

Feat/bsc toolbox gas fixes (#124)
  .changeset/light-starfishes-walk.md
  .size-limit.js
  packages/swapkit/types/src/transactions.ts
  packages/toolboxes/toolbox-evm/src/toolbox/BaseEVMToolbox.ts
  packages/toolboxes/toolbox-evm/src/toolbox/bsc.ts
  packages/toolboxes/toolbox-evm/src/types/clientTypes.ts
  packages/wallets/trezor/src/signer/evm.ts
  packages/wallets/xdefi/src/helpers.ts
Labels: types, evm, trezor, xdefi

Version Packages (development) (#125)
  .changeset/pre.json
  internal/helpers/CHANGELOG.md
  internal/helpers/package.json
  packages/swapkit/swapkit-api/CHANGELOG.md
  packages/swapkit/swapkit-api/package.json
  packages/swapkit/swapkit-core/CHANGELOG.md
  packages/swapkit/swapkit-core/package.json
  packages/swapkit/swapkit-entities/CHANGELOG.md
  packages/swapkit/swapkit-entities/package.json
  packages/swapkit/swapkit-explorers/CHANGELOG.md
  packages/swapkit/swapkit-explorers/package.json
  packages/swapkit/swapkit-sdk/CHANGELOG.md
  packages/swapkit/swapkit-sdk/package.json
  packages/swapkit/types/CHANGELOG.md
  packages/swapkit/types/package.json
  packages/toolboxes/toolbox-cosmos/CHANGELOG.md
  packages/toolboxes/toolbox-cosmos/package.json
  packages/toolboxes/toolbox-evm/CHANGELOG.md
  packages/toolboxes/toolbox-evm/package.json
  packages/toolboxes/toolbox-utxo/CHANGELOG.md
  packages/toolboxes/toolbox-utxo/package.json
  packages/wallets/evm-web3-wallets/CHANGELOG.md
  packages/wallets/evm-web3-wallets/package.json
  packages/wallets/keplr/CHANGELOG.md
  packages/wallets/keplr/package.json
  packages/wallets/keystore/CHANGELOG.md
  packages/wallets/keystore/package.json
  packages/wallets/ledger/CHANGELOG.md
  packages/wallets/ledger/package.json
  packages/wallets/trezor/CHANGELOG.md
  packages/wallets/trezor/package.json
  packages/wallets/trustwallet/CHANGELOG.md
  packages/wallets/trustwallet/package.json
  packages/wallets/walletconnect/CHANGELOG.md
  packages/wallets/walletconnect/package.json
  packages/wallets/xdefi/CHANGELOG.md
  packages/wallets/xdefi/package.json
Labels: release, core

feat: adds bsc hex value chain id (#126)
  .changeset/dull-paws-end.md
  .changeset/slow-beers-mate.md
  apps/vite-playground/src/WalletPicker.tsx
  packages/swapkit/swapkit-core/src/client/index.ts
  packages/swapkit/types/src/network.ts
  packages/toolboxes/toolbox-cosmos/src/toolbox/gaia.ts
  packages/toolboxes/toolbox-evm/src/api/covalentApi.ts
  packages/toolboxes/toolbox-evm/src/toolbox/bsc.ts
  packages/wallets/evm-web3-wallets/src/walletMethods.ts
Labels: docs, core, types, cosmos, evm, evm-web3-wallets

Version Packages (development) (#127)
  .changeset/pre.json
  internal/helpers/CHANGELOG.md
  internal/helpers/package.json
  packages/swapkit/swapkit-api/CHANGELOG.md
  packages/swapkit/swapkit-api/package.json
  packages/swapkit/swapkit-core/CHANGELOG.md
  packages/swapkit/swapkit-core/package.json
  packages/swapkit/swapkit-entities/CHANGELOG.md
  packages/swapkit/swapkit-entities/package.json
  packages/swapkit/swapkit-explorers/CHANGELOG.md
  packages/swapkit/swapkit-explorers/package.json
  packages/swapkit/swapkit-sdk/CHANGELOG.md
  packages/swapkit/swapkit-sdk/package.json
  packages/swapkit/types/CHANGELOG.md
  packages/swapkit/types/package.json
  packages/toolboxes/toolbox-cosmos/CHANGELOG.md
  packages/toolboxes/toolbox-cosmos/package.json
  packages/toolboxes/toolbox-evm/CHANGELOG.md
  packages/toolboxes/toolbox-evm/package.json
  packages/toolboxes/toolbox-utxo/CHANGELOG.md
  packages/toolboxes/toolbox-utxo/package.json
  packages/wallets/evm-web3-wallets/CHANGELOG.md
  packages/wallets/evm-web3-wallets/package.json
  packages/wallets/keplr/CHANGELOG.md
  packages/wallets/keplr/package.json
  packages/wallets/keystore/CHANGELOG.md
  packages/wallets/keystore/package.json
  packages/wallets/ledger/CHANGELOG.md
  packages/wallets/ledger/package.json
  packages/wallets/trezor/CHANGELOG.md
  packages/wallets/trezor/package.json
  packages/wallets/trustwallet/CHANGELOG.md
  packages/wallets/trustwallet/package.json
  packages/wallets/walletconnect/CHANGELOG.md
  packages/wallets/walletconnect/package.json
  packages/wallets/xdefi/CHANGELOG.md
  packages/wallets/xdefi/package.json
Labels: release, core

fix: atom xdefi wallet compatibility with keplr (#128)
  .changeset/empty-seahorses-cough.md
  packages/wallets/xdefi/src/helpers.ts
  packages/wallets/xdefi/src/types.ts
Labels: xdefi

fix: also use cosmos provider to xdefi (#130)
  .changeset/long-cougars-arrive.md
  packages/wallets/xdefi/src/helpers.ts
Labels: xdefi

fix: avax inbound and adds v2 contract support (#131)
  .changeset/fluffy-sheep-attend.md
  packages/swapkit/swapkit-api/src/types/quote.ts
  packages/swapkit/swapkit-core/src/aggregator/contracts/index.ts
  packages/swapkit/swapkit-core/src/aggregator/contracts/traderJoe.ts
  packages/swapkit/swapkit-core/src/aggregator/getSwapInParams.ts
Labels: core

fix: swap in typing and validity check (#132)
  .changeset/slow-pianos-admire.md
  packages/swapkit/swapkit-core/src/aggregator/contracts/index.ts
  packages/swapkit/swapkit-core/src/aggregator/getSwapInParams.ts
Labels: core

Version Packages (development) (#129)
  .changeset/pre.json
  packages/swapkit/swapkit-api/CHANGELOG.md
  packages/swapkit/swapkit-api/package.json
  packages/swapkit/swapkit-core/CHANGELOG.md
  packages/swapkit/swapkit-core/package.json
  packages/swapkit/swapkit-sdk/CHANGELOG.md
  packages/swapkit/swapkit-sdk/package.json
  packages/toolboxes/toolbox-cosmos/CHANGELOG.md
  packages/toolboxes/toolbox-cosmos/package.json
  packages/wallets/keplr/CHANGELOG.md
  packages/wallets/keplr/package.json
  packages/wallets/keystore/CHANGELOG.md
  packages/wallets/keystore/package.json
  packages/wallets/ledger/CHANGELOG.md
  packages/wallets/ledger/package.json
  packages/wallets/trustwallet/CHANGELOG.md
  packages/wallets/trustwallet/package.json
  packages/wallets/xdefi/CHANGELOG.md
  packages/wallets/xdefi/package.json
Labels: release, core

fix: core, evm and xdefoi (#133)
  .changeset/soft-phones-cheat.md
  apps/expo-playground/src/swapKitClient.ts
  apps/vite-playground/src/App.tsx
  packages/swapkit/swapkit-core/src/client/index.ts
  packages/toolboxes/toolbox-evm/src/toolbox/BaseEVMToolbox.ts
  packages/wallets/xdefi/src/helpers.ts
Labels: docs, core, evm, xdefi

Version Packages (development) (#134)
  .changeset/pre.json
  packages/swapkit/swapkit-core/CHANGELOG.md
  packages/swapkit/swapkit-core/package.json
  packages/swapkit/swapkit-sdk/CHANGELOG.md
  packages/swapkit/swapkit-sdk/package.json
  packages/toolboxes/toolbox-evm/CHANGELOG.md
  packages/toolboxes/toolbox-evm/package.json
  packages/wallets/evm-web3-wallets/CHANGELOG.md
  packages/wallets/evm-web3-wallets/package.json
  packages/wallets/keystore/CHANGELOG.md
  packages/wallets/keystore/package.json
  packages/wallets/ledger/CHANGELOG.md
  packages/wallets/ledger/package.json
  packages/wallets/trezor/CHANGELOG.md
  packages/wallets/trezor/package.json
  packages/wallets/trustwallet/CHANGELOG.md
  packages/wallets/trustwallet/package.json
  packages/wallets/walletconnect/CHANGELOG.md
  packages/wallets/walletconnect/package.json
  packages/wallets/xdefi/CHANGELOG.md
  packages/wallets/xdefi/package.json
Labels: release, core

feat: internalizes packages to fix build issue (#135)
  .changeset/afraid-pans-care.md
  .size-limit.js
  packages/wallets/walletconnect/package.json
  packages/wallets/walletconnect/vite.config.ts
Labels: none

Version Packages (development) (#136)
  .changeset/pre.json
  packages/swapkit/swapkit-sdk/CHANGELOG.md
  packages/swapkit/swapkit-sdk/package.json
  packages/wallets/walletconnect/CHANGELOG.md
  packages/wallets/walletconnect/package.json
Labels: release

Allow custom memos in open/close loan (#137)
  .changeset/proud-bears-laugh.md
  packages/swapkit/swapkit-core/src/client/index.ts
Labels: core

Version Packages (development) (#138)
  .changeset/pre.json
  packages/swapkit/swapkit-core/CHANGELOG.md
  packages/swapkit/swapkit-core/package.json
  packages/swapkit/swapkit-sdk/CHANGELOG.md
  packages/swapkit/swapkit-sdk/package.json
Labels: release, core

feat: fix runtime issue evm wallets (#140)
  .changeset/plenty-tables-hug.md
  packages/swapkit/swapkit-core/src/client/index.ts
  packages/toolboxes/toolbox-evm/src/toolbox/BaseEVMToolbox.ts
Labels: core, evm

feat: fix lint (#141)
  packages/swapkit/swapkit-core/src/client/index.ts
  packages/toolboxes/toolbox-evm/src/toolbox/BaseEVMToolbox.ts
Labels: core, evm

Version Packages (development) (#142)
  .changeset/pre.json
  packages/swapkit/swapkit-core/CHANGELOG.md
  packages/swapkit/swapkit-core/package.json
  packages/swapkit/swapkit-sdk/CHANGELOG.md
  packages/swapkit/swapkit-sdk/package.json
  packages/toolboxes/toolbox-evm/CHANGELOG.md
  packages/toolboxes/toolbox-evm/package.json
  packages/wallets/evm-web3-wallets/CHANGELOG.md
  packages/wallets/evm-web3-wallets/package.json
  packages/wallets/keystore/CHANGELOG.md
  packages/wallets/keystore/package.json
  packages/wallets/ledger/CHANGELOG.md
  packages/wallets/ledger/package.json
  packages/wallets/trezor/CHANGELOG.md
  packages/wallets/trezor/package.json
  packages/wallets/trustwallet/CHANGELOG.md
  packages/wallets/trustwallet/package.json
  packages/wallets/walletconnect/CHANGELOG.md
  packages/wallets/walletconnect/package.json
  packages/wallets/xdefi/CHANGELOG.md
  packages/wallets/xdefi/package.json
Labels: release, core

feat: fixes trezor eth and improves typing (#143)
  .changeset/thin-zebras-lick.md
  packages/wallets/trezor/src/signer/evm.ts
  packages/wallets/trezor/src/trezor.ts
Labels: trezor

Version Packages (development) (#144)
  .changeset/pre.json
  packages/swapkit/swapkit-sdk/CHANGELOG.md
  packages/swapkit/swapkit-sdk/package.json
  packages/wallets/trezor/CHANGELOG.md
  packages/wallets/trezor/package.json
Labels: release

chore: simplify utxo apis (#113)
  .changeset/pink-pens-smile.md
  internal/config/package.json
  packages/toolboxes/toolbox-utxo/package.json
  packages/toolboxes/toolbox-utxo/src/api/ApiClient.ts
  packages/toolboxes/toolbox-utxo/src/api/blockchair-api.ts
  packages/toolboxes/toolbox-utxo/src/api/blockchairApi.ts
  packages/toolboxes/toolbox-utxo/src/api/clients.ts
  packages/toolboxes/toolbox-utxo/src/api/helpers.ts
  packages/toolboxes/toolbox-utxo/src/api/index.ts
  packages/toolboxes/toolbox-utxo/src/index.ts
  packages/toolboxes/toolbox-utxo/src/toolbox/BaseUTXOToolbox.ts
  packages/toolboxes/toolbox-utxo/src/toolbox/bch.ts
  packages/toolboxes/toolbox-utxo/src/toolbox/btc.ts
  packages/toolboxes/toolbox-utxo/src/toolbox/doge.ts
  packages/toolboxes/toolbox-utxo/src/toolbox/ltc.ts
  packages/toolboxes/toolbox-utxo/src/types/bitcoincashjs-types.ts
  packages/toolboxes/toolbox-utxo/src/types/blockchairApiTypes.ts
  packages/toolboxes/toolbox-utxo/src/types/common.ts
  packages/toolboxes/toolbox-utxo/src/types/commonApiTypes.ts
  packages/toolboxes/toolbox-utxo/src/types/index.ts
  packages/toolboxes/toolbox-utxo/src/utils.ts
  packages/wallets/ledger/src/ledger.ts
  packages/wallets/trezor/src/trezor.ts
  pnpm-lock.yaml
Labels: maintenance, utxo, ledger, trezor

fix: liquidity calc
  .changeset/pre.json
  .changeset/shaggy-ears-doubt.md
  .semgrepignore
  internal/helpers/CHANGELOG.md
  internal/helpers/package.json
  packages/swapkit/swapkit-core/CHANGELOG.md
  packages/swapkit/swapkit-core/package.json
  packages/swapkit/swapkit-entities/CHANGELOG.md
  packages/swapkit/swapkit-entities/package.json
  packages/swapkit/swapkit-entities/src/helpers/liquidity.ts
  packages/swapkit/swapkit-sdk/CHANGELOG.md
  packages/swapkit/swapkit-sdk/package.json
  packages/toolboxes/toolbox-cosmos/CHANGELOG.md
  packages/toolboxes/toolbox-cosmos/package.json
  packages/toolboxes/toolbox-evm/CHANGELOG.md
  packages/toolboxes/toolbox-evm/package.json
  packages/toolboxes/toolbox-utxo/CHANGELOG.md
  packages/toolboxes/toolbox-utxo/package.json
  packages/toolboxes/toolbox-utxo/src/toolbox/bch.ts
  packages/wallets/evm-web3-wallets/CHANGELOG.md
  packages/wallets/evm-web3-wallets/package.json
  packages/wallets/keplr/CHANGELOG.md
  packages/wallets/keplr/package.json
  packages/wallets/keystore/CHANGELOG.md
  packages/wallets/keystore/package.json
  packages/wallets/ledger/CHANGELOG.md
  packages/wallets/ledger/package.json
  packages/wallets/trezor/CHANGELOG.md
  packages/wallets/trezor/package.json
  packages/wallets/trustwallet/CHANGELOG.md
  packages/wallets/trustwallet/package.json
  packages/wallets/walletconnect/CHANGELOG.md
  packages/wallets/walletconnect/package.json
  packages/wallets/xdefi/CHANGELOG.md
  packages/wallets/xdefi/package.json
Labels: release, core, utxo

fix: utxo api key check trezor (#146)
  .changeset/tender-ducks-brake.md
  packages/wallets/trezor/src/trezor.ts
Labels: trezor

Version Packages (development) (#147)
  .changeset/pre.json
  packages/swapkit/swapkit-sdk/CHANGELOG.md
  packages/swapkit/swapkit-sdk/package.json
  packages/wallets/trezor/CHANGELOG.md
  packages/wallets/trezor/package.json
Labels: release

fix: utxo api paths (#148)
  .changeset/yellow-lions-drive.md
  packages/toolboxes/toolbox-utxo/src/api/blockchairApi.ts
Labels: utxo

Version Packages (development) (#149)
  .changeset/pre.json
  packages/swapkit/swapkit-sdk/CHANGELOG.md
  packages/swapkit/swapkit-sdk/package.json
  packages/toolboxes/toolbox-utxo/CHANGELOG.md
  packages/toolboxes/toolbox-utxo/package.json
  packages/wallets/keystore/CHANGELOG.md
  packages/wallets/keystore/package.json
  packages/wallets/ledger/CHANGELOG.md
  packages/wallets/ledger/package.json
  packages/wallets/trezor/CHANGELOG.md
  packages/wallets/trezor/package.json
  packages/wallets/xdefi/CHANGELOG.md
  packages/wallets/xdefi/package.json
Labels: release

fix: utxo blockchair url (#150)
  .changeset/curvy-camels-approve.md
  packages/toolboxes/toolbox-utxo/src/api/blockchairApi.ts
Labels: utxo
